@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Montserrat:wght@200&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap");

body {
  background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  /*  height: 100%;*/
}

.App {
  font-family: "Nunito", sans-serif;
  display: flex;
  width: 100vw;
  max-height: 500vh;
  min-height: 100vh;
  justify-content: center;
  /*    align-items: center;*/
  font-family: Arial, sans-serif;
}

.homepage {
  font-family: "Nunito", sans-serif;
  min-width: 100%;
  min-height: 100%;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*    background: #3E5151;*/
}

.homepage_header {
  font-family: "Open Sans", sans-serif;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  min-height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background: white;
  position: relative;
}

.homepage_header > .button {
  font-family: "Nunito", sans-serif;
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage_header > input {
  border: 1px solid grey;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}

.react-datetime-picker {
  width: 100%;
  max-width: 500px;
}

.homepage_body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.reminder_card {
  font-weight: 500;
  /*    display: flex;*/
  /*    flex-direction: row;*/
  display: inline-block;
  /*    justify-content: space-evenly;*/
  background: white;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 25%;
  min-width: 300px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.reminder_card > h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1877f2;
}

h3 {
  font-weight: 800;
}

.reminder_card > p {
  color: grey;
  margin-bottom: 1rem;
}

.reminder_card > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  width: inherit;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
